<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewpoint" content="width device-width", initial_scale="1"/>
    <link rel="icon" type="img/png" href="../static/assets/img/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/frontend.js"></script>
    <title>iBooki | Home</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#"><b>iBooki</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body-signin">
                    <h5 class="card-title text-center">Sign In with User ID</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="userID" class="form-control" placeholder="User ID" required>
                        </div>
            
                        <button class="btn btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr style="border-top:1px solid">
                        <button class="btn btn-warning btn-block text-uppercase">No account? Sign up here!</p>
                    </form>
                </div>
                <!--
                <div class="card-body-signup">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="userID" class="form-control" placeholder="User ID" required>
                        </div>
            
                        <button class="btn btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                        <hr style="border-top:1px solid">
                    </form>
                </div>-->
            </div>
        </div>
        </div>
    </div>

</body>

</html>