{% extends "base.html" %}

{% block title %}
iBooki | Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body card-body-signin">
                    <h5 class="card-title text-center">Sign In with Integer User ID</h5>
                    <form class="form-sign form-signin">
                        <div class="form-label-group">
                            <input type="text" id="userID" class="form-control" placeholder="User ID" name="userID" required>
                        </div>
            
                        <button type="submit" class="btn btn-primary btn-block text-uppercase" id="sign-in-button">Sign In</button>
                        <hr style="border-top:1px solid">
                        <button type="button" class="btn btn-warning btn-block text-uppercase sign-up">No account? Sign up here!</button>
                    </form>
                </div>
                
                <div class="card-body card-body-signup">
                    <h5 class="card-title text-center">Sign Up with Integer User ID</h5>
                    <form class="form-sign form-signup">
                        <div class="form-label-group">
                            <input type="text" id="new-user-id" class="form-control" placeholder="User ID" required>
                        </div>
            
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Sign Up</button>
                        <hr style="border-top:1px solid">
                        <button type="button" class="btn btn-warning btn-block text-uppercase sign-in">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
